.nav {
  margin: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav_link {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  display: flex;
  padding-left: 40px;
  text-transform: uppercase;
  gap: 16px;
  text-decoration: none;
}

.sign {
  float: right;
  align-items: center;
  position: absolute;
  right: 7%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cart {
  margin-left: 16px;
}

.link {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
}

.active {
  color: #5ECE7B;
  border-color: #fff;
  border: 1px;
  height: 2px;
  text-decoration: none;
}

.link-underline {
  text-decoration: none;
  position: relative;
}

.link-underline::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  /* Change this to whatever color you want */
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.2s ease-in-out 0s;
}

.link-underline:hover::after {
  visibility: visible;
  transform: scaleX(1);
}

.badge {
  font-size: 12px;

}

.circle {
  background-color: #030508;
  margin-bottom: 30px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  /* Make it a circle */
  display: flex;
  align-items: center;
  justify-content: center;
}


.cart-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: -15px;
}

.cart {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cart-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding-bottom: 0px;
}

.cart_items{
  display: inline-flex;
padding: 32px 16px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 32px;
}
.frame {
  display: grid;
  grid-template-columns: 1fr 1fr;
align-items: center;
gap:20px;
width: 270px;
}

.column {
  
  width: 50%;
  
}


.product_D {
  width: 100px;
  height: 100px;
  
}

.Cartbox {
  border: 1px solid #000;
  text-align: center;
  margin:2px;
  padding: 5px;

}
.attribute{
  display: flex;
  flex-direction: row;
}
.item_name{
  font-size: 15px;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 0;
   margin: 0;
   white-space: nowrap;
}
.size{
  padding: 2px;
  margin: 0;
}
.empty{
padding: 20px;
white-space: nowrap;
}
.quantity{
display: grid;
grid-template-columns: 1fr;
align-items: center;
gap: 20px;
}
.quantity_no{
padding-left:7px ;
}
.total{
  display: flex;
  flex-direction: row;
  gap:170px;
  align-items: center;
  
}
.product_button{
  background-color: #5ECE7B;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 270px;
    height: 52px;
    cursor: pointer;
}